@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;  
  line-height: 1.5;
font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: auto !important;
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Esconde a scrollbar no Chrome, Safari e Edge */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Esconde a scrollbar no Firefox e IE */
html, body {
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* IE e Edge */
}

@keyframes shine {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.shine-text {
  background: linear-gradient(
    90deg,
    rgb(7, 91, 165) 0%,
    #4fc3f7 50%,
    rgb(4, 78, 143) 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 3s linear infinite;
}

@keyframes shine-bar {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shine-bar {
  background: linear-gradient(
    90deg,
    rgb(7, 91, 165) 0%,
    #4fc3f7 50%,
    rgb(4, 78, 143) 100%
  );
  background-size: 200% auto;
  animation: shine-bar 3s linear infinite;
}


@keyframes slideFade {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}
.toast-slide {
  animation: slideFade 5s ease forwards;
}
